* {
  padding: 0;
  margin: 0;
  font-family: "Alegreya", serif;
}
#nameInput {
  text-align: center;
  font-family: "Alegreya SC", serif;
  outline: 0;
  background-color: azure;
  border: 0px;
  padding: 10px 20px;
  max-width: fit-content;
  margin: 10px auto;
}
body {
  background-color: rgb(217, 206, 63);
  max-width: 100%;
  font-size: 15px;
}
hr {
  border: 0px;
  padding: 3px;
}
.noDisplay {
  display: none;
  visibility: collapse;
}
.hideDisplay {
  visibility: hidden;
}
.nameDiv,
.introDiv {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  /*this set the div in the middle, without the translate property it would look offset*/
  top: 50%;
  transform: translate(0, -50%);
  /* ------------ */
  width: 100%;
}
.nameDiv > *,
.introDiv > * {
  display: grid;
  grid-column: 2;
}
#nameButton,
button {
  padding: 10px 30px;
  max-width: max-content;
  margin: 0px auto;
  border: 0.1px solid;
  border-radius: 25px;
  border-color: black;
  color: black;
  background-color: rgb(232, 58, 20, 0.5);
  text-transform: uppercase;
}

.greetings1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.greetings2 {
  font-family: "Alegreya SC", serif;
  font-size: 1.5rem;
}
.gameDiv {
  display: grid;
  grid-template-rows: 1fr 1.8fr 1fr;
}
.playerDeck,
.computerDeck {
  position: relative;
  text-align: center;
}
#playerName,
#computerName {
  text-transform: uppercase;
  font-family: "Alegreya SC";
  font-size: 1.1rem;
  padding: 5px 0px;
}
.inPlayCards {
  align-items: center;
  display: flex;
  gap: 10px;
  margin: 0 auto;
  padding: 10px 0px;
}
#pickCard,
#challenge {
  position: relative;
  padding: 10px 30px;
  border: 1px solid;
  border-radius: 20px;
}
#p1Card,
#p2Card {
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 20px;
  max-width: max-content;
  text-align: center;
}
#p1Card img,
#p2Card img {
  width: 100px;
}
#p1CardName,
#p2CardName {
  font-weight: bold;
  text-align: center;
}

#p1CardFight,
#p1CardSpeed,
#p1CardInt {
  cursor: pointer;
}
.attrSelection {
  text-decoration: underline;
  font-weight: bold;
}
